table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background: transparent; /* Fundo transparente */
}

thead tr {
    background-color: white; /* Mantém o cabeçalho branco */
    color: black;
    font-weight: bold;
}

th, td {
    padding: 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background: transparent; /* Fundo transparente para as linhas */
}

tbody tr:last-child {
    border-bottom: none;
}

.content-box h1 {
    padding-bottom: 15px;
}

.content-box{
    padding-top: 15px;
}